@import url(./index.css);

.main {
    width: 100vw;
    height: 100vh;
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-color: var(--primary-color);
}

.todoCard_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}